<div id="<%= dom_id job_application %>">
  <p>
    <strong>User:</strong>
    <%= job_application.user_id %>
  </p>

  <p>
    <strong>Job:</strong>
    <%= job_application.job_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= job_application.status %>
  </p>

</div>
